<div>
    <app-prelaoder></app-prelaoder>
</div>
<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container p-2">
            <a class="navbar-brand" href="#">
                <img src="/assets/images/nav_img.png" alt="" width="100" height="100">
            </a>
            <div class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" *ngIf="!isCross" (click)="hamBurger()"></span>
                <span class="custom-cross-icon" *ngIf="isCross" (click)="cross()"></span>

            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Product
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center justify-content-between">
                    <!-- <i class="bi bi-facebook"></i> -->
                    <!-- <button class="btn btn-outline-light" type="button">Work with me</button> -->
                    <div class="ast-custom-button">Work With Me</div>
                </div>
            </div>
        </div>
    </nav>
</header>
