<!-- <div>
    <app-prelaoder></app-prelaoder>
</div> -->
<!-- ------------------ One  ------------ -->
<!-- 
<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container p-2">
            <a class="navbar-brand" href="#">
                <img src="/assets/images/nav_img.png" alt="" width="100" height="100">
            </a>
            <div class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" *ngIf="!isCross" (click)="hamBurger()"></span>
                <span class="custom-cross-icon" *ngIf="isCross" (click)="cross()"></span>

            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Product
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center justify-content-between">
                    <i class="bi bi-facebook"></i>
                    <button class="btn btn-outline-light" type="button">Work with me</button>
                    <div class="ast-custom-button">Work With Me</div>
                </div>
            </div>
        </div>
    </nav>
</header> -->

<!-- ----------- Header Section start --------------- -->
<header id="header">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="/assets/images/nav_img.png" alt="" width="70" height="70">
                </a>
                <div class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" *ngIf="!isCross" (click)="hamBurger()"></span>
                    <span class="custom-cross-icon" *ngIf="isCross" (click)="cross()"></span>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" routerLink="." fragment="hero">
                            <a class="nav-link " aria-current="page">Home</a>
                        </li>
                        <!-- <li class="nav-item" routerLink="." fragment="aboutUs">
                            <a class="nav-link " aria-current="page">About</a>
                        </li> -->
                        <li class="nav-item " routerLink="." fragment="products">
                            <!-- <li class="nav-item dropdown" routerLink="." fragment="products"> -->
                            <a class="nav-link " id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Products
                            </a>
                            <!--<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Product 1</a></li>
                                <li><a class="dropdown-item" href="#">Product 2</a></li>
                                <li><a class="dropdown-item" href="#">Product 3</a></li>
                            </ul> -->
                        </li>
                        <li class="nav-item" routerLink="." fragment="our_services">
                            <a class="nav-link " aria-current="page">Service</a>
                        </li>
                        <li class="nav-item" routerLink="." fragment="contactUs">
                            <a class="nav-link " aria-current="page">Contact</a>
                        </li>
                    </ul>
                    <div class="work-with-me-section">
                        <div class="d-flex align-items-center">
                            <i class="bi bi-facebook"></i>
                            <i class="bi bi-whatsapp"></i>
                            <i class="bi bi-envelope"></i>
                            <button class="btn btn-outline-light" routerLink="." fragment="contactUs" >Work with me</button>
                        </div>
                    </div>
                </div>

            </div>
        </nav>
    </div>
</header>

<!-- ----------- Header Section End --------------- -->

<!-- ----------------- Main section  ------------------------ -->
<main>

    <section class="main" id="hero">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 offset-md-6 col-md-6 custom_div">
                    <span>LISA MARTIN </span>
                    <h2>Helping You Build Inner Resilience.</h2>
                    <p>Pellentesque odio aliquam vitae amet, elementum at urna facilisis purus, integer nam libero
                        pharetra viverra et dolor tellus, eget commodo tellus tempus vitae.</p>
                    <button class="btn btn-outline-light"   routerLink="." fragment="contactUs">Lets work Together<i class="bi bi-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </section>

    <!-- 
    <section class="about_us" id="aboutUs">
        <div class="container_about">
            <div class="sub-container container1">
                <h2>Container 1</h2>
                <p>I’m Lisa Martin.
                    I Help Entrepreneurs Build Their Dreams.</p>
            </div>
            <div class="sub-container">
                <h2>Container 2</h2>
                <p>Diam lorem nulla suspendisse id ullamcorper lobortis id sit nisl purus tellus curabitur leo volutpat
                    vitae quisque eros, gravida magna diam id elit facilisi gravida at non consectetur nulla leo congue
                    in netus ut et habitant massa id libero turpis.</p>
            </div>
            <div class="sub-container">
                <h2>Container 3</h2>
                <img src="/assets/images/about_us_img.jpg">
            </div>
            <div class="sub-container container4">
                <h2>Container 4</h2>
                <p>Enim accumsan cras semper metus ante vitae massa aliquam nec, diam pulvinar nisl, egestas quam
                    pharetra nunc magna consequat orci viverra quis aliquam tortor</p>
            </div>
        </div>
    </section> -->

    <section class="service_container" id="our_services">
        <div class="container">
            <h2 class=" section_header mt-5 mb-4">Our Services</h2>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

                <div class="col" *ngFor="let data of ourServiceArr">
                    <div class="card h-100">
                        <!-- <img src="https://via.placeholder.com/300" class="card-img-top" alt="..."> -->
                        <div class="card-body">
                            <h5 class="card-title">{{data.title}}</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

    <!-- <swiper-container  slides-per-view="3" autoplay="true" speed="500" loop="true">
        <swiper-slide>Slide 1</swiper-slide>
        <swiper-slide>Slide 2</swiper-slide>
        <swiper-slide>Slide 3</swiper-slide>
        <swiper-slide>Slide 3</swiper-slide>
        <swiper-slide>Slide 3</swiper-slide>
    </swiper-container> -->



    <section class="product_container" id="products">
        <div class="container">
            <h2 class=" section_header mt-5 mb-4">Our Products</h2>
            <div class="row">
                <swiper-container slides-per-view="auto" autoplay="true" speed="500" loop="true">
                    <swiper-slide class="col-lg-4 col-md-6 col-sm-12" *ngFor="let data of someProductsArr">
                        <div class="card product-card">
                            <img src="{{showProductImgUrl}}{{data.productimg}}" class="card-img-top"
                                alt="image load faild">
                            <div class="card-body">
                                <h5 class="card-title">{{data.productname}}</h5>
                                <p class="card-text">{{data.productdesc}}</p>
                                <!-- <a href="#" class="btn btn-primary" routerLink="." fragment="contactUs">Contact</a> -->
                            </div>
                        </div>
                    </swiper-slide>
                </swiper-container>

            </div>
        </div>
        <div class="text-center mt-4">
            <button class="btn btn-primary" routerLink="/allproducts">Show More Products <i
                    class="bi bi-arrow-right"></i></button>
        </div>
    </section>




    <section class="contact" id="contactUs">
        <div class="contact_container">
            <h2 class="section_header">Contact Us</h2>
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name"> <span class="text-danger">*</span>Enter your name: </label>
                    <input type="text" id="name" formControlName="name">
                    <div *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors">
                        <small class="text-danger" *ngIf="contactForm.get('name')?.errors?.['required']">Name is
                            required.</small>
                        <small class="text-danger" *ngIf="contactForm.get('name')?.errors?.['minlength']">Name must be
                            at least 3 characters long.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email"> <span class="text-danger">*</span>Enter your email:</label>
                    <input type="email" id="email" formControlName="email">
                    <div *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors">
                        <small class="text-danger" *ngIf="contactForm.get('email')?.errors?.['required']">Email is
                            required.</small>
                        <small class="text-danger" *ngIf="contactForm.get('email')?.errors?.['email']">Please enter a
                            valid email.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone"> <span class="text-danger">*</span>Enter your phone:</label>
                    <input type="text" id="phone" formControlName="phone"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                        onkeypress="if(this.value.length > 9) return false;                                    
                     if(event.which < 48 || event.which > 57 ) if(event.which != 8) if(event.keyCode != 9)  return false;" maxlength="10">
                    <div *ngIf="contactForm.get('phone')?.touched && contactForm.get('phone')?.errors">
                        <small class="text-danger" *ngIf="contactForm.get('phone')?.errors?.['required']">Phone number
                            is required.</small>
                        <small class="text-danger" *ngIf="contactForm.get('phone')?.errors?.['pattern']">Phone number
                            must be 10 digits.</small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="message"> <span class="text-danger">*</span> Message:</label>
                    <textarea id="message" name="message" rows="5" formControlName="message"></textarea>
                    <div *ngIf="contactForm.get('message')?.touched && contactForm.get('message')?.errors">
                        <small class="text-danger" *ngIf="contactForm.get('message')?.errors?.['required']">Message is
                            required.</small>
                        <small class="text-danger" *ngIf="contactForm.get('message')?.errors?.['minlength']">Message
                            must be at least 10 characters long.</small>
                    </div>
                </div>
                <button type="submit" [ngClass]="{'btn_disabled_color':!contactForm.valid}"
                    [disabled]="!contactForm.valid">Send
                    mail</button>
            </form>
        </div>
    </section>


</main>
<!-- ----------------- Main section  END ------------------------ -->


<!-- --------------------- Footer Section --------------------------------- -->
<footer class="footer">
    <div class="footer_container">
        <div class="footer-content">
            <div class="footer-column">
                <h3>Column 1</h3>
                <ul>
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Services</h3>
                <ul>
                    <li><a href="#">Link 5</a></li>
                    <li><a href="#">Link 6</a></li>
                    <li><a href="#">Link 7</a></li>
                    <li><a href="#">Link 8</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Column 3</h3>
                <ul>
                    <li><a href="#">Link 9</a></li>
                    <li><a href="#">Link 10</a></li>
                    <li><a href="#">Link 11</a></li>
                    <li><a href="#">Link 12</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Column 4</h3>
                <ul>
                    <li><a href="#">Link 13</a></li>
                    <li><a href="#">Link 14</a></li>
                    <li><a href="#">Link 15</a></li>
                    <li><a href="#">Link 16</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<notifier-container></notifier-container>