<div class="container-fluid px-4">

    <!-- <div class="row g-3 my-2">
                <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-2">720</h3>
                            <p class="fs-5">Products</p>
                        </div>
                        <i class="fas fa-gift fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                    </div>
                </div>
                
  
                <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-2">4920</h3>
                            <p class="fs-5">Sales</p>
                        </div>
                        <i
                            class="fas fa-hand-holding-usd fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                    </div>
                </div>
  
                <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-2">3899</h3>
                            <p class="fs-5">Delivery</p>
                        </div>
                        <i class="fas fa-truck fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                    </div>
                </div>
  
                <div class="col-md-3">
                    <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                        <div>
                            <h3 class="fs-2">%25</h3>
                            <p class="fs-5">Increase</p>
                        </div>
                        <i class="fas fa-chart-line fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                    </div>
                </div>
            </div> -->

    <!-- <div class="row my-2">
        
        <div class="col text-end">
            <button class="btn btn-primary " id="addProductBtn" (click)="openAddEditModal(addEditModal)">Add
                Product</button>
        </div>
    </div> -->
    <div class="row my-2  align-items-center">
        <div class="col-md-3">
            <!-- Dropdown filter -->
            <select class="form-select mb-2 mb-md-0"  (change)="categorySearchfn()"
                [(ngModel)]="productCategory">
                <option value=0>Filter by Category</option>
                <option *ngFor="let data of categoryList" [value]="data.id">{{data.category_name}}</option>
            </select>
        </div>
        <div class="col-md-3">
            <!-- Global search -->
            <div class="input-group mb-2 mb-md-0">
                <input type="text" class="form-control" placeholder="Search..." style="height: calc(1.5em + .75rem + 2px);"
                    [(ngModel)]="globalSearch">
                <button class="btn btn-outline-secondary" type="button"  (click)="globalSearchfn()"><i
                        class="bi bi-search"></i></button>
            </div>

        </div>
        <div class="col-md-2" >
            <button class="btn btn-danger" title="Reset" (click)="resetAll()"><i class="bi bi-arrow-clockwise"></i></button>
        </div>
        <div class="col-md-4 text-end">
            <button class="btn btn-primary" id="addProductBtn" (click)="openAddEditModal(addEditModal)">Add
                Product</button>
        </div>
    </div>

    <div class="row my-2">
        <h3 class="fs-4 mb-3">Product List</h3>
        <div class="col">
            <div style="max-height: 450px; overflow-y: auto;">
                <table class="table bg-white rounded shadow-sm  table-hover text-center ">
                    <thead>
                        <tr>
                            <th scope="col" width="5%"> sl.No</th>
                            <th scope="col" width="10%"> Name</th>
                            <th scope="col" width="10%"> Category</th>
                            <th scope="col" width="10%">Price</th>
                            <th scope="col" width="15%">Image</th>
                            <th scope="col" width="20%">Description</th>
                            <th scope="col" width="5%">Status</th>
                            <th scope="col" width="1%">Action</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="getProdList.length == 0">
                        <tr>
                            <td colspan="7">No data found</td>
                        </tr>
                    </tbody>
                    <tbody>

                        <tr *ngFor="let data  of getProdList;let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{data.productname}}</td>
                            <td>{{data.categoryname}}</td>
                            <td>{{data.productprice}}</td>
                            <td> <img src="{{showProductImgUrl}}{{data.productimg}}" width="30" height="30"> </td>
                            <td>{{data.productdesc}}</td>
                            <td>{{data.productstats == 0 ? "Inactive" : data.productstats == 1 ? "Active" :
                                data.productstats == 2 ? "Deleted" : '' }} 
                                        <i class="bi bi-arrow-repeat"></i>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <span class="" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </span>
                                    <ul class="dropdown-menu dropdown-menu-end p-2  "
                                        aria-labelledby="dropdownMenuButton1">
                                        <li class="dropdown-item" (click)="openAddEditModal(addEditModal)">
                                            <i class="bi bi-pencil-fill me-1"></i>Edit
                                        </li>
                                        <li class="dropdown-item" (click)="openDeleteModal(deletemodal)">
                                            <i class="bi bi-trash-fill me-1"></i>Delete
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Pagination -->
    <div class="row">
        <div class="col-md-1">
            <label for="itemsPerPage" class="visually-hidden">Items per page</label>
            <select class="form-select" id="itemsPerPage" (change)="changeLimit($event)" [(ngModel)]="limit">
                <!-- <option value="">Items per page</option> -->
                <option *ngFor="let data of paginationDropDown" [value]="data.value">{{data.label}}</option>
            </select>
        </div>
        <div class="col-md-1 text-end mx-5">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-md-end">

                    <li class="page-item" (click)="prevPage()">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true"> <i
                                class="bi bi-arrow-left-short"></i></a>
                    </li>
                    <li class="page-item" aria-current="page">
                        <a class="page-link">{{currentPage}}</a>
                    </li>
                    <li class="page-item" (click)="nextPage()">
                        <a class="page-link"><i class="bi bi-arrow-right-short"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


</div>



<!-- Add Edit Modal -->
<ng-template #addEditModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Add Product</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <!-- ------------ Form --------------- -->

        <div class="container">


            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="" class="form-label">Product Name</label>
                        <input type="text" class="form-control" [(ngModel)]="productName">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Product Price</label>
                        <input type="text" class="form-control" [(ngModel)]="productPrice">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Product Description</label>
                        <input type="text" class="form-control" [(ngModel)]="productDesc">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label for="" class="form-label">Select Product Category</label>
                        <select class="form-select" [(ngModel)]="productCategory">
                            <option value=0>Select Category</option>
                            <option *ngFor="let data of categoryList" [value]="data.id">{{data.category_name}}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Choose product image</label>
                        <input class="form-control" type="file" id="formFile" (change)="uploadFile()">
                    </div>
                </div>
            </div>
        </div>
        <!-- ------------ Form --------------- -->

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="resetAddUpdate()">Reset</button>
        <button type="button" class="btn btn-primary" (click)="onAddSubmit()">Add</button>

    </div>
</ng-template>



<!-- Delete Modal -->
<ng-template #deletemodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Delete Product</h4>
        <!-- <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button> -->
    </div>
    <div class="modal-body">
        <h3>Are your sure to delete?</h3>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Cancle</button>
        <button type="button" class="btn btn-secondary" (click)="onAddSubmit()">Delete</button>

    </div>
</ng-template>


<notifier-container></notifier-container>