<div class="login-container">
    <div class="login-form">
        <h2 class="text-center mb-4">Admin Login</h2>
        <div class="mb-3">
            <label for="" class="form-label">Phone Number</label>
            <input type="text" class="form-control" placeholder="Enter Phone" [(ngModel)]="userPhone"
                oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" onkeypress="if(this.value.length > 9) return false;                                    
         if(event.which < 48 || event.which > 57 ) if(event.which != 8) if(event.keyCode != 9)  return false;"
                maxlength="10">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Password</label>
            <input type="password" class="form-control"  placeholder="Password" [(ngModel)]="userPass">
        </div>
        <button type="submit" class="btn btn-primary w-100" (click)="userSignIn()">Login</button>
    </div>
</div>
<notifier-container></notifier-container>