@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* font-family: "Montserrat", sans-serif; */
/* font-family: "Inter", sans-serif; */

@import "node_modules/angular-notifier/styles.css";

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0 !important;
    font-family: var(--font-mont);

}


:root {

    --global-bg: #fcfcfc;
    --fade-grey: #8e8a8a;
    --font-color: #1b1f29;
    --light-grey: #ccc;
    --highlight-color: #3d69f6;
    --highlight-color-disabled: #8496ce;

    --font-intr: "Inter", sans-serif;
    --font-mont: "Montserrat", sans-serif;

    --font-w-xxl: 900;
    --font-w-xl: 700;
    --font-w-x: 600;
    --font-w-m: 500;
    --font-w-s: 400;
    --font-w-xs: 200;

    --font-s-xlll: 4rem;
    --font-s-xll: 2.5rem;
    --font-s-xl: 2rem;
    --font-s-x: 1.2rem;
    --font-s-m: 1rem;
    --font-s-xs: .5rem;


    /* --------------- DASHBOARD --------------- */
    --main-bg-color: #009d63;
    --main-text-color: #009d63;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
    /* --------------- DASHBOARD --------------- */
}

a {
    all: unset;
    cursor: pointer;
}

li {
    list-style: none;
}

.navbar-toggler {
    margin-bottom: 1rem !important  ;
}



/* Override Bootstrap input field focus style */
input.form-control:focus,
select.form-control:focus,
select.form-select:focus,
textarea.form-control:focus,
button.btn:focus,
li:focus,
input:focus {
    outline: none !important;
    box-shadow: none !important;
}


/* ========================================= MAIN PAGE CSS START ========================================== */

/* ------------------ NAV BAR START------------------------- */

#header {
    position: absolute;
    z-index: 10;
    width: 100%;
    font-family: var(--font-mont);
    font-weight: var(--font-w-m);
    color: var(--global-bg);
}

#header .nav-link {
    color: var(--global-bg);
}



.dropdown-menu {
    overflow: hidden;
    /* This ensures that the overflow is hidden */
}

/* .dropdown-item:hover {
    background-color: #187add;
    color: #333;
} */

.navbar {
    border-bottom: .05px solid var(--fade-grey);
}

.navbar li {
    cursor: pointer;
    color: var(--global-bg);
}


.main {
    position: relative;
    background: url(/assets/images/hero_sec.png);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 280px 0 220px;
    font-family: var(--font-mont);
    color: var(--global-bg);

}


.main h2 {
    font-size: 3rem;
    font-weight: var(--font-w-xl);
    text-transform: uppercase;
}

.main p {
    font-weight: var(--font-w-xl);
}


.navbar-toggler {
    border: none;
}

.custom-toggler .navbar-toggler-icon {
    border: none;
    outline: none;
    box-shadow: none;
}

.custom-toggler {
    /* border: 1px solid #000; */
    padding: 5px 10px;
    border-radius: 4px;
}

.custom-cross-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    position: relative;
}

.custom-cross-icon:before,
.custom-cross-icon:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
}

.custom-cross-icon:before {
    transform: translateY(-50%) rotate(45deg);
}

.custom-cross-icon:after {
    transform: translateY(-50%) rotate(-45deg);
}


/* --------------- Right sided navnbar --------- */

.work-with-me-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* Align section to the right */
}

.work-with-me-section button {
    margin-left: 10px;
    /* Default spacing between icons and button */
}

.work-with-me-section i {
    margin-left: 10px;
    /* Default spacing between icons */
}

/* Adjust spacing for smaller screens */
@media (max-width: 768px) {
    .work-with-me-section button {
        margin-left: 10px;
        /* Decrease spacing between icons and button */
    }

    .work-with-me-section i {
        margin-left: 10px;
        /* Decrease spacing between icons */
    }
}

/* Adjust spacing for even smaller screens */
@media (max-width: 576px) {
    .work-with-me-section button {
        margin-left: 10px;
        /* Further decrease spacing between icons and button */
    }

    .work-with-me-section i {
        margin-left: 10px;
        /* Further decrease spacing between icons */
    }
}

/* --------------- Right sided navnbar --------- */


/* ------------------ NAV BAR END------------------------- */



/* --------------------- ABOUT US START ----------------------------- */
.container_about {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.sub-container {
    flex: 1 1 calc(50% - 10px);
    /* Two containers per row on large screens */
    max-width: calc(50% - 10px);
    /* background-color: #f0f0f0; */
    padding: 20px;
    box-sizing: border-box;

}

.container1 {
    font-family: var(--font-mont);
    font-size: var(--font-s-xll);
}

.container4 {
    font-family: var(--font-mont);
    font-size: var(--font-s-xl);
    font-weight: bold;
}


@media (max-width: 768px) {
    .sub-container {
        flex: 1 1 calc(100% - 20px);
        /* One container per row on smaller screens */
        max-width: calc(100% - 20px);
    }
}



/* --------------------- ABOUT US END----------------------------- */

/* ------------------------- Our Service Start ------------------------------ */
.service_container{
    padding: 20px;
    margin: 0 auto;
}

/* ------------------------- Our Service End ------------------------------ */


/* ---------------------- Products Start ------------------------------ */
.product_container {
    padding: 20px;
    margin: 0 auto;
}

.product-card {
    margin: 15px;
}

.product-card img {
    max-width: 100%;
    height: auto;
}



/* ---------------------- Products End ------------------------------ */


/* /--------------------- Contact us ---------------------------------- */
.contact_container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: var(--font-intr);
}

.contact {

    padding: 50px 0;
}

.contact h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: var(--highlight-color);
    color: var(--global-bg);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--highlight-color);
}

@media (max-width: 600px) {
    .form-group {
        width: 100%;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        width: calc(100% - 20px);
    }
}

/* ---------------------------- Contact us end --------------------------- */

/* /------------------------------------ Footer section -------------------------- */
.footer_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

.footer {
    padding: 50px 0;
    font-family: var(--font-intr);
    color: var(--font-color);

}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    margin-right: 20px;
    /* text-align: center; */
}

.footer-column h3 {
    margin-bottom: 30px;
    font-weight: var(--font-s-xs);
    font-size: 1.2rem;
}

.footer-column ul {
    /* text-align: center; */
    padding-left: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
    font-weight: var(--font-w-s);
    font-size: .9rem;
}

.footer-column ul li a {
    /* color: #fff; */
    text-decoration: none;
}

@media (max-width: 768px) {
    .footer-column {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }


}

@media (max-width: 600px) {
    .footer-column {
        text-align: center;
    }

    .footer-column ul {
        text-align: center;
    }
}


/* ========================================= MAIN PAGE CSS START ========================================== */


/* -------------------------- CSS FOR ADMIN PANEL -------------------------- */
.primary-text {
    color: var(--main-text-color);
}

.second-text {
    color: var(--second-text-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.rounded-full {
    border-radius: 100%;
}

#wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(to right,
            #baf3d7,
            #c2f5de,
            #cbf7e4,
            #d4f8ea,
            #ddfaef);
    font-family: var(--font-intr);
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    width: 50%;
    border: none;
    padding: 20px 30px;
    
}

.list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

/* -------------------------- CSS FOR ADMIN PANEL -------------------------- */


/* ----------------------------- Page Not Found----------------------------- */
.custom_404 {
    font-family: var(--font-intr);
}

/* ----------------------------- Page Not Found----------------------------- */



/* ------------------  MEDIA QUERY --------------------------*/
@media (max-width: 921px) {}

@media (max-width: 600px) {}


@media (max-width: 425px) {}































/* ------------------- MEDIA QUERY SECTION --------------------- */