<section class="d-flex" id="wrapper" ngxUiLoaderBlurred>

    <!-- Sidebar -->
    <div class="bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"><i
                class="fas fa-user-secret me-2"></i>Palvaroo</div>
        <div class="list-group  my-3">
            <a href="javascript:void(0)" (click)="redirectTo('productconfig')"
                class="list-group-item list-group-item-action bg-transparent  ">
                <!-- <i class="fas fa-tachometer-alt me-2"></i> -->
                Product Setup
            </a>
            <a href="javascript:void(0)" class="list-group-item list-group-item-action bg-transparent  ">
                Change Page content
            </a>
            <a href="javascript:void(0)" class="list-group-item list-group-item-action bg-transparent  ">
                Contact information
            </a>
            <hr class="hr" />
            <a href="#" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
                    class="fas fa-power-off me-2"></i>Logout</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
            <div class="d-flex align-items-center">
                <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle" (click)="toggleMenu()"></i>
                <h2 class="fs-2 m-0">Admin Dashboard</h2>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link second-text fw-bold" href="#">
                            <i class="fas fa-user me-2"></i>Welcome John Doe
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <router-outlet></router-outlet>
    </div>
</section>
<!-- /#page-content-wrapper -->