<section class="container-fliud">
    <div class="search_filter container mt-3">
        <div class="d-flex border border-primary justify-content-between">
            <div class="global_search d-flex justify-content-between align-items-center">
                <input type="search">
                <span>
                    <i class="bi bi-search"></i>
                </span>
            </div>
            <div class="drop_down">
                <select>
                    <option value="">1</option>
                    <option value="">2</option>
                </select>
            </div>
        </div>
    </div>
</section>